<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">

    <title>index</title>
  </head>
  <body>
  <div class="" style="margin-left:10%">
    正在运行中的:
    {% for symbol in run %}
        <button type="button" class="btn btn-success" onclick="to_stop('{{ symbol }}')">{{ symbol }}</button>
    {% endfor %}
  </div>
  <br>
  <div class="" style="margin-left:10%">
    未运行中的:
    {% for symbol in no_run %}
        <button type="button" class="btn btn-primary" onclick="to_start('{{ symbol }}')">{{ symbol }}</button>
    {% endfor %}

  </div>
  <br>
  <div class="" style="margin-left:10%;margin-bottom:3%;">
    程序名称介绍：xxx_deal --- 自成交画线, xxx_depth --- 摆盘, xxx_create --- 对冲, xxx_order --- 摆盘和对冲的中间桥梁,若需要对冲,此程序需启动。
  </div>
  <hr style="filter: progid:dximagetransform.microsoft.glow(color="#987cb9",strength=10)" width="80%" color="#987cb9" size=1>
  <form style="margin-left:10%;margin-top:3%;" action="cancel" method="post" onsubmit="return dosubmit()">
      <div class="form-group">
          <label for="username" stype="display:inline;">币对：</label>
          <select class="form-control" name="symbol" style="display:inline;width:200px;">
              <option value="EOS-USDT">EOS-USDT</option>
              <option value="HDS-USDT">HDS-USDT</option>
              <option value="VDS-USDT">VDS-USDT</option>
              <option value="RSR-HT">RSR-HT</option>
          </select>
          <label for="username" stype="display:inline;">类型：</label>
          <select class="form-control" name="side" style="display:inline;width:200px;">
              <option value="all">全部</option>
              <option value="buy">买</option>
              <option value="sell">卖</option>
          </select>
      </div>
      <div class="form-group">
          <label for="username" stype="display:inline;">深度：</label>
          <input type="text" class="form-control" name="depth" style="display:inline;width:100px;"autocomplete="off" value="1"/>
      </div>
      <button type="submit" class="btn btn-primary" id="tbn">撤单</button>
  </form>
{#    <div class="container">#}
{#        <p>.btn-success 表示操作成功后的按钮样式:</p>#}
{#        <button type="button" class="btn btn-success">成功</button>#}
{#        <p> .btn-primary 类可表示为原始按钮样式（未被操作）:</p>#}
{#	    <button type="button" class="btn btn-primary">原始按钮</button>#}
{#    </div>#}
    <script>
      var iscommitted=false;
      function dosubmit(){
        if(!iscommitted){
            iscommitted=true;
            document.getElementById("tbn").disabled="disabled";
            return true;
        }else{
        return false;
        }
      }
      function to_start(symbol){
          let res = confirm("你确定要开启" + symbol + "吗?");
          if (res == true){
              $.ajax({
                  type: 'post',
                  url: '/control_hedge/to_start',
                  data: {"symbol": symbol},
                  success:function (data) {
                      let obj = JSON.parse(data)
                      alert(obj.code)
                  },
              })
          }
      }
      function to_stop(symbol){
          let res = confirm("你确定要关闭" + symbol + "吗?");
          if (res == true){
              $.ajax({
                  type: 'post',
                  url: '/control_hedge/to_stop',
                  data: {"symbol": symbol},
                  success:function (data) {
                      let obj = JSON.parse(data)
                      alert(obj.code)
                  },
              })
          }
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ static('js/jquery-3.2.1.min.js') }}"></script>
{#    <script src="{{ static('js/jquery-3.2.1.slim.min.js') }}"></script>#}
    <script src="{{ static('js/popper.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
  </body>
</html>
